<div class="entity_info">
        {{#each data}}
            <p class="name">
                <a href="/">The Black&White Production</a></p>
            <h2 class="entity_heading">All information about: {{this.title}}</h2>
            <p class="entity_title"> {{this.title}} </p>
            <div class="image_block">
                <img src="{{this.img}}">
            </div>
            <div class="left">
                <p class="entity_size"> size: {{this.size}} </p>
                <p class="entity_desc"> description: {{this.description}} </p>
                <p class="entity_ing"> ingredients: {{ this.ingredients }} </p>
                <p class="entity_price"> price: {{this.price}} </p>
            </div>
        {{/each}}
</div>

<div class="order_button">
    <input id="order" type="submit" value="order">
</div>

